#配置使用那个文件
#dev为开发环境 prod为部署环境
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mybatis?serverTimezone=GMT%2B8
    username: root
    password: 1108
  spring:
    profiles:
      active: dev

    thymeleaf:
        prefix: classpath:/templates/
        suffix: .html
        servlet:
            content-type: text/html
        enabled: true
        encoding: utf-8
        mode: HTML
        check-template-location: true

  #文件上传配置
  # 开启multipart上传功能
    servlet:
        multipart:
            enabled: true
            #写入磁盘的阈值
            file-size-threshold: 2KB
            #最大文件大小
            max-file-size: 20MB
            #最大请求大小
            max-request-size: 25MB

#自定义的参数 FileProperties
  file:
      upload-dir: ./uploads