<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teenyda.mapping.base.SpecBaseMapper">


    <insert id="insertSpec"  useGeneratedKeys="true" keyProperty="specId">
        INSERT INTO `spec`
        (
        <trim suffixOverrides=",">
                    <if test="specId!=null">
                        `spec_id`,
                    </if>
                    <if test="productId!=null">
                        `product_id`,
                    </if>
                    <if test="specName!=null">
                        `spec_name`,
                    </if>
                    <if test="price!=null">
                        `price`,
                    </if>
                    <if test="quantity!=null">
                        `quantity`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="specId!=null">
                    #{specId},
                </if>
                <if test="productId!=null">
                    #{productId},
                </if>
                <if test="specName!=null">
                    #{specName},
                </if>
                <if test="price!=null">
                    #{price},
                </if>
                <if test="quantity!=null">
                    #{quantity},
                </if>
        </trim>
        )
    </insert>




    <update id="updateSpec">
        UPDATE `spec`
        SET
        <trim suffixOverrides=",">
            <if test="productId != null">
                `product_id` = #{productId},
            </if>
            <if test="specName != null and specName!=''">
                `spec_name` = #{specName},
            </if>
            <if test="price != null">
                `price` = #{price},
            </if>
            <if test="quantity != null">
                `quantity` = #{quantity},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `spec_id` = #{specId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `spec`
        SET
        <trim suffixOverrides=",">
        <if test="set.productId != null">
            `product_id` = #{set.productId},
        </if>
        <if test="set.specName != null and set.specName!=''">
            `spec_name` = #{set.specName},
        </if>
        <if test="set.price != null">
            `price` = #{set.price},
        </if>
        <if test="set.quantity != null">
            `quantity` = #{set.quantity},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.specIdList != null">
                    `spec_id` in
                    <foreach collection="where.specIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.specIdSt !=null">
                `spec_id` >= #{where.specIdSt} and
            </if>
            <if test="where.specIdEd!=null">
                `spec_id` &lt;= #{where.specIdEd} and
            </if>
                <if test="where.productIdList != null">
                    `product_id` in
                    <foreach collection="where.productIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.productIdSt !=null">
                `product_id` >= #{where.productIdSt} and
            </if>
            <if test="where.productIdEd!=null">
                `product_id` &lt;= #{where.productIdEd} and
            </if>
                <if test="where.specNameList != null">
                    `spec_name` in
                    <foreach collection="where.specNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySpecName!=null and where.fuzzySpecName.size()>0">
                (
                <foreach collection="where.fuzzySpecName"  separator="or" item="item">
                    `Spec_name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySpecName!=null and where.rightFuzzySpecName.size()>0">
                (
                <foreach collection="where.rightFuzzySpecName"  separator="or" item="item">
                    `Spec_name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.priceList != null">
                    `price` in
                    <foreach collection="where.priceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priceSt !=null">
                `price` >= #{where.priceSt} and
            </if>
            <if test="where.priceEd!=null">
                `price` &lt;= #{where.priceEd} and
            </if>
                <if test="where.quantityList != null">
                    `quantity` in
                    <foreach collection="where.quantityList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.quantitySt !=null">
                `quantity` >= #{where.quantitySt} and
            </if>
            <if test="where.quantityEd!=null">
                `quantity` &lt;= #{where.quantityEd} and
            </if>
        </trim>
    </update>


    <resultMap type="com.teenyda.domain.Spec" id="SpecMap">
        <result property="specId" column="spec_id"/>
        <result property="productId" column="product_id"/>
        <result property="specName" column="spec_name"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
    </resultMap>


    <select id="querySpec" resultMap="SpecMap">
        select
        <include refid="baseResult"></include>
        from  `spec`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="specId != null">
                `spec_id` = #{specId} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="specName != null and specName!=''">
                `spec_name` = #{specName} and
            </if>
            <if test="price != null">
                `price` = #{price} and
            </if>
            <if test="quantity != null">
                `quantity` = #{quantity} and
            </if>
            <if test = "(_parameter instanceof com.teenyda.domain.Spec$QueryBuilder) == true">
                <if test="specIdList != null">
                    `spec_id` in
                    <foreach collection="specIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="specIdSt !=null">
                    `spec_id` >= #{specIdSt} and
                </if>
                <if test="specIdEd!=null">
                    `spec_id` &lt;= #{specIdEd} and
                </if>
                <if test="productIdList != null">
                    `product_id` in
                    <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                <if test="specNameList != null">
                    `spec_name` in
                    <foreach collection="specNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySpecName!=null and fuzzySpecName.size()>0">
                    (
                    <foreach collection="fuzzySpecName"  separator="or" item="item">
                        `Spec_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySpecName!=null and rightFuzzySpecName.size()>0">
                    (
                    <foreach collection="rightFuzzySpecName"  separator="or" item="item">
                        `Spec_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="priceList != null">
                    `price` in
                    <foreach collection="priceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priceSt !=null">
                    `price` >= #{priceSt} and
                </if>
                <if test="priceEd!=null">
                    `price` &lt;= #{priceEd} and
                </if>
                <if test="quantityList != null">
                    `quantity` in
                    <foreach collection="quantityList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="quantitySt !=null">
                    `quantity` >= #{quantitySt} and
                </if>
                <if test="quantityEd!=null">
                    `quantity` &lt;= #{quantityEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="querySpecLimit1" resultMap="SpecMap">
        select
        <include refid="baseResult"></include>
        from  `spec`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="specId != null">
                `spec_id` = #{specId} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="specName != null and specName!=''">
                `spec_name` = #{specName} and
            </if>
            <if test="price != null">
                `price` = #{price} and
            </if>
            <if test="quantity != null">
                `quantity` = #{quantity} and
            </if>
            <if test = "(_parameter instanceof com.teenyda.domain.Spec$QueryBuilder) == true">
                    <if test="specIdList != null">
                        `spec_id` in
                        <foreach collection="specIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="specIdSt !=null">
                    `spec_id` >= #{specIdSt} and
                </if>
                <if test="specIdEd!=null">
                    `spec_id` &lt;= #{specIdEd} and
                </if>
                    <if test="productIdList != null">
                        `product_id` in
                        <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                    <if test="specNameList != null">
                        `spec_name` in
                        <foreach collection="specNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySpecName!=null and fuzzySpecName.size()>0">
                    (
                    <foreach collection="fuzzySpecName"  separator="or" item="item">
                        `Spec_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySpecName!=null and rightFuzzySpecName.size()>0">
                    (
                    <foreach collection="rightFuzzySpecName"  separator="or" item="item">
                        `Spec_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="priceList != null">
                        `price` in
                        <foreach collection="priceList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priceSt !=null">
                    `price` >= #{priceSt} and
                </if>
                <if test="priceEd!=null">
                    `price` &lt;= #{priceEd} and
                </if>
                    <if test="quantityList != null">
                        `quantity` in
                        <foreach collection="quantityList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="quantitySt !=null">
                    `quantity` >= #{quantitySt} and
                </if>
                <if test="quantityEd!=null">
                    `quantity` &lt;= #{quantityEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `spec_id`,
        `product_id`,
        `spec_name`,
        `price`,
        `quantity`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.teenyda.domain.Spec$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.specId==true">
                        `spec_id`,
                    </if>
                    <if test="fetchFields.fetchFields.productId==true">
                        `product_id`,
                    </if>
                    <if test="fetchFields.fetchFields.specName==true">
                        `spec_name`,
                    </if>
                    <if test="fetchFields.fetchFields.price==true">
                        `price`,
                    </if>
                    <if test="fetchFields.fetchFields.quantity==true">
                        `quantity`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.specId==null">
                        `spec_id`,
                    </if>
                    <if test="fetchFields.excludeFields.productId==null">
                        `product_id`,
                    </if>
                    <if test="fetchFields.excludeFields.specName==null">
                        `spec_name`,
                    </if>
                    <if test="fetchFields.excludeFields.price==null">
                        `price`,
                    </if>
                    <if test="fetchFields.excludeFields.quantity==null">
                        `quantity`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.teenyda.domain.Spec$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>