<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teenyda.mapper.base.NewProductBaseMapper">


    <insert id="insertNewProduct" >
        INSERT INTO `new_product`
        (
        <trim suffixOverrides=",">
                    <if test="newProductId!=null">
                        `new_product_id`,
                    </if>
                    <if test="productId!=null">
                        `product_id`,
                    </if>
                    <if test="image!=null">
                        `image`,
                    </if>
                    <if test="price!=null">
                        `price`,
                    </if>
                    <if test="desc!=null">
                        `desc`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="newProductId!=null">
                    #{newProductId},
                </if>
                <if test="productId!=null">
                    #{productId},
                </if>
                <if test="image!=null">
                    #{image},
                </if>
                <if test="price!=null">
                    #{price},
                </if>
                <if test="desc!=null">
                    #{desc},
                </if>
        </trim>
        )
    </insert>




    <update id="updateNewProduct">
        UPDATE `new_product`
        SET
        <trim suffixOverrides=",">
            <if test="image != null and image!=''">
                `image` = #{image},
            </if>
            <if test="price != null">
                `price` = #{price},
            </if>
            <if test="desc != null and desc!=''">
                `desc` = #{desc},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `new_product_id` = #{newProductId} and
                `product_id` = #{productId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `new_product`
        SET
        <trim suffixOverrides=",">
        <if test="set.image != null and set.image!=''">
            `image` = #{set.image},
        </if>
        <if test="set.price != null">
            `price` = #{set.price},
        </if>
        <if test="set.desc != null and set.desc!=''">
            `desc` = #{set.desc},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.newProductIdList != null">
                    `new_product_id` in
                    <foreach collection="where.newProductIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.newProductIdSt !=null">
                `new_product_id` >= #{where.newProductIdSt} and
            </if>
            <if test="where.newProductIdEd!=null">
                `new_product_id` &lt;= #{where.newProductIdEd} and
            </if>
                <if test="where.productIdList != null">
                    `product_id` in
                    <foreach collection="where.productIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.productIdSt !=null">
                `product_id` >= #{where.productIdSt} and
            </if>
            <if test="where.productIdEd!=null">
                `product_id` &lt;= #{where.productIdEd} and
            </if>
                <if test="where.imageList != null">
                    `image` in
                    <foreach collection="where.imageList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyImage!=null and where.fuzzyImage.size()>0">
                (
                <foreach collection="where.fuzzyImage"  separator="or" item="item">
                    `Image` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyImage!=null and where.rightFuzzyImage.size()>0">
                (
                <foreach collection="where.rightFuzzyImage"  separator="or" item="item">
                    `Image` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.priceList != null">
                    `price` in
                    <foreach collection="where.priceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priceSt !=null">
                `price` >= #{where.priceSt} and
            </if>
            <if test="where.priceEd!=null">
                `price` &lt;= #{where.priceEd} and
            </if>
                <if test="where.descList != null">
                    `desc` in
                    <foreach collection="where.descList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyDesc!=null and where.fuzzyDesc.size()>0">
                (
                <foreach collection="where.fuzzyDesc"  separator="or" item="item">
                    `Desc` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyDesc!=null and where.rightFuzzyDesc.size()>0">
                (
                <foreach collection="where.rightFuzzyDesc"  separator="or" item="item">
                    `Desc` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.teenyda.dao.NewProduct" id="NewProductMap">
        <result property="newProductId" column="new_product_id"/>
        <result property="productId" column="product_id"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="desc" column="desc"/>
    </resultMap>


    <select id="queryNewProduct" resultMap="NewProductMap">
        select
        <include refid="baseResult"></include>
        from  `new_product`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="newProductId != null">
                `new_product_id` = #{newProductId} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="image != null and image!=''">
                `image` = #{image} and
            </if>
            <if test="price != null">
                `price` = #{price} and
            </if>
            <if test="desc != null and desc!=''">
                `desc` = #{desc} and
            </if>
            <if test = "(_parameter instanceof com.teenyda.dao.NewProduct$QueryBuilder) == true">
                <if test="newProductIdList != null">
                    `new_product_id` in
                    <foreach collection="newProductIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="newProductIdSt !=null">
                    `new_product_id` >= #{newProductIdSt} and
                </if>
                <if test="newProductIdEd!=null">
                    `new_product_id` &lt;= #{newProductIdEd} and
                </if>
                <if test="productIdList != null">
                    `product_id` in
                    <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                <if test="imageList != null">
                    `image` in
                    <foreach collection="imageList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyImage!=null and fuzzyImage.size()>0">
                    (
                    <foreach collection="fuzzyImage"  separator="or" item="item">
                        `Image` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyImage!=null and rightFuzzyImage.size()>0">
                    (
                    <foreach collection="rightFuzzyImage"  separator="or" item="item">
                        `Image` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="priceList != null">
                    `price` in
                    <foreach collection="priceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priceSt !=null">
                    `price` >= #{priceSt} and
                </if>
                <if test="priceEd!=null">
                    `price` &lt;= #{priceEd} and
                </if>
                <if test="descList != null">
                    `desc` in
                    <foreach collection="descList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyDesc!=null and fuzzyDesc.size()>0">
                    (
                    <foreach collection="fuzzyDesc"  separator="or" item="item">
                        `Desc` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyDesc!=null and rightFuzzyDesc.size()>0">
                    (
                    <foreach collection="rightFuzzyDesc"  separator="or" item="item">
                        `Desc` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryNewProductLimit1" resultMap="NewProductMap">
        select
        <include refid="baseResult"></include>
        from  `new_product`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="newProductId != null">
                `new_product_id` = #{newProductId} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="image != null and image!=''">
                `image` = #{image} and
            </if>
            <if test="price != null">
                `price` = #{price} and
            </if>
            <if test="desc != null and desc!=''">
                `desc` = #{desc} and
            </if>
            <if test = "(_parameter instanceof com.teenyda.dao.NewProduct$QueryBuilder) == true">
                    <if test="newProductIdList != null">
                        `new_product_id` in
                        <foreach collection="newProductIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="newProductIdSt !=null">
                    `new_product_id` >= #{newProductIdSt} and
                </if>
                <if test="newProductIdEd!=null">
                    `new_product_id` &lt;= #{newProductIdEd} and
                </if>
                    <if test="productIdList != null">
                        `product_id` in
                        <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                    <if test="imageList != null">
                        `image` in
                        <foreach collection="imageList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyImage!=null and fuzzyImage.size()>0">
                    (
                    <foreach collection="fuzzyImage"  separator="or" item="item">
                        `Image` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyImage!=null and rightFuzzyImage.size()>0">
                    (
                    <foreach collection="rightFuzzyImage"  separator="or" item="item">
                        `Image` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="priceList != null">
                        `price` in
                        <foreach collection="priceList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priceSt !=null">
                    `price` >= #{priceSt} and
                </if>
                <if test="priceEd!=null">
                    `price` &lt;= #{priceEd} and
                </if>
                    <if test="descList != null">
                        `desc` in
                        <foreach collection="descList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyDesc!=null and fuzzyDesc.size()>0">
                    (
                    <foreach collection="fuzzyDesc"  separator="or" item="item">
                        `Desc` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyDesc!=null and rightFuzzyDesc.size()>0">
                    (
                    <foreach collection="rightFuzzyDesc"  separator="or" item="item">
                        `Desc` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `new_product_id`,
        `product_id`,
        `image`,
        `price`,
        `desc`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.teenyda.dao.NewProduct$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.newProductId==true">
                        `new_product_id`,
                    </if>
                    <if test="fetchFields.fetchFields.productId==true">
                        `product_id`,
                    </if>
                    <if test="fetchFields.fetchFields.image==true">
                        `image`,
                    </if>
                    <if test="fetchFields.fetchFields.price==true">
                        `price`,
                    </if>
                    <if test="fetchFields.fetchFields.desc==true">
                        `desc`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.newProductId==null">
                        `new_product_id`,
                    </if>
                    <if test="fetchFields.excludeFields.productId==null">
                        `product_id`,
                    </if>
                    <if test="fetchFields.excludeFields.image==null">
                        `image`,
                    </if>
                    <if test="fetchFields.excludeFields.price==null">
                        `price`,
                    </if>
                    <if test="fetchFields.excludeFields.desc==null">
                        `desc`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.teenyda.dao.NewProduct$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>